.social {
  display: block;
}

.icon {
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-mask-image: var(--icon-src);
  mask-image: var(--icon-src);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: calc(100% * var(--icon-scale));
  mask-size: calc(100% * var(--icon-scale));
}

.icon-overlay {
  width: 100%;
  height: 100%;
}

.social-inner {
  border-radius: inherit;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.social-content {
  border-radius: inherit;
  width: calc(100% - (var(--border-thickness) * 2));
  height: calc(100% - (var(--border-thickness) * 2));
  top: calc(var(--border-thickness) - 100%);
  left: var(--border-thickness);
  position: relative;
  z-index: 2;
}

.social.email {
  --icon-src: url("/images/social/email.svg");
}

.social.github {
  --icon-src: url("/images/social/github.svg");
}

.social.twitter {
  --icon-src: url("/images/social/twitter.svg");
}

.social.linkedin {
  --icon-src: url("/images/social/linkedin.svg");
}

.social.cv {
  --icon-src: url("/images/social/cv.svg");
}

.social.steam {
  --icon-src: url("/images/social/steam.svg");
}
