/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat.ttf");
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  src: url("/fonts/Montserrat-Italic.ttf");
}

:root {
  --dark-blue: #006ce9;
  --light-blue: #18b6f6;
  --light-purple: #ac7ff4;
  --dark-purple: #8000FF;
  --icon-scale: 0.6;
  --border-thickness: 0px;
  --page-bg: #fafafa;
  --v-scale: 1;
}

body {
  background-image: url("/images/code bg.png");
  background-repeat: no-repeat;
  background-position: left 50% top -400px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 10px 10px 20px 10px;
  min-width: 600px;
  box-sizing: border-box;
  margin: 0;
}

.bg-cover {
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
  background-color: var(--page-bg);
  opacity: 0.8;
}

.bg-header-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
  z-index: -99;
  background: radial-gradient(350px at left 50% top 100px, var(--page-bg) 0%, var(--page-bg) 80%, transparent 100%);
}

main {
  max-width: 760px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 130px -50px var(--light-purple);
  overflow: hidden;
}

h1,
h2 {
  color: var(--dark-blue);
  margin: 15px 0 0 -5px;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 250;
}

h1 {
  width: fit-content;
  font-size: 1.75em;
}

.lightning {
  filter: hue-rotate(180deg);
}

section {
  padding: 20px;
  border-bottom: 10px solid var(--dark-blue);
}

ul {
  list-style-type: square;
  margin: 0.5em 0 0.5em 0;
  padding-left: 25px;
}

li {
  padding: 8px 0;
}

li::marker {
  color: var(--light-blue);
}

i.email {
  color: var(--dark-purple);
}

p {
  margin: 0 0 0.5em;
}

p a,
p a:visited,
a.link,
a.link:visited {
  color: black;
  text-decoration: none;
  padding-bottom: 0.5px;
  border-bottom: 2px dotted var(--dark-purple);
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

p a:hover,
a.link:hover {
  color: var(--dark-purple);
  border-color: #FFFFFF00;
}

hbar {
  display: block;
  height: 1px;
  width: 90%;
  border: 0;
  background-color: var(--dark-blue);
  margin: 1em 5%;
}

code {
  font-family: Menlo, Monaco, Courier New, monospace;
  font-size: 0.9em;
  background-color: rgb(224, 224, 224);
  padding: 2px 4px;
  border-radius: 3px;
  border-bottom: 2px solid #bfbfbf;
}

@keyframes highlight {
  from {}
  25% {
    color: white;
    background-color: var(--dark-purple);
  }
  to {}
}

:target {
  animation: highlight 5s;
}